<!-- Side widgets-->

    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>


    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">Climbing Stories</a></li>
                        <li><a href="#!">Reviews</a></li>                                       
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!">Training Tips</a></li>
                        <li><a href="#!">Other</a></li>                                        
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">For Later</div>
        <div class="card-body">Anything I Want</div>
    </div>
